* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Rubik", sans-serif;
}
body {
	// background-color: rgba(255, 72, 128, 0.07);
	background-color: white;
}
.wrapper {
	// background-color: #e7e7e7;
	width: 1220px;
	height: 100vh;
	// height: 4800px;
	margin: 0 auto;
}
